/****************************************************/
/*import font title*/
@import url('https://db.onlinewebfonts.com/c/07cb29fdcb073fff840edc6de2067b50?family=Amsterdam+Four_ttf'); 

/****************************************************/
/*general*/
.hr {
    width: 80%;

    margin: 0 !important;

    justify-self: auto;

    border: 1px solid #ab9881;
}

/****************************************************/
/*header*/
/*set color on lower corners*/
.header {
    background-color:rgb(246, 245, 241);;
    
    font-family: "Amsterdam Four_ttf";
    font-size: x-large;
}

/****************************************************/
/*real header*/
.container {
    background-color: rgba(209, 195, 152, 83);

    clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);

    display: grid;
    grid-template-columns: .25fr .25fr .5fr auto .5fr .25fr .25fr;
    gap: 5px;
    align-content: center;

    padding: 20px;
    min-height: 120px;/*padding + img-logo dimension*/
}
.header_item {
    place-self: center;
}

/*logo*/
.restaurant_icon {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.logo, .title {
    grid-row: 1 / 2;
    place-self: center;
}
.logo {
    grid-column: 1 / 3;
    opacity: 0.65;
}
.title {
    grid-column: 1 / 3;
}

/*locate*/
.dropdown_container {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;

    z-index: 10;

    background-color: beige;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
}
.dropdown_container > .dropdown {
    padding: 5px;
    border-radius: 10px;
}
.dropdown_container > .dropdown > .dropdown_item {
    display: none;
}
.dropdown_container > .dropdown:hover > .span {
    display: none;
}
.dropdown_container > .dropdown:hover > .dropdown_item{
    display: block;
}
.dropdown_container > .dropdown > .dropdown_item > .locale_it {
    display: block; 
    padding: 5px 10px 5px 10px;

    height: 30px;

    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;

    background-image: url('../../public/img/flags/it.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.dropdown_container > .dropdown > .dropdown_item > .locale_en {
    display: block; 
    padding: 5px 10px 5px 10px;

    height: 30px;

    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;

    background-image: url('../../public/img/flags/en.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.dropdown_container > .dropdown > .dropdown_item > .locale_de {
    display: block; 
    padding: 5px 10px 5px 10px;

    height: 30px;

    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;

    background-image: url('../../public/img/flags/de.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.locale_it > a, .locale_en > a, .locale_de > a {
    display: block !important;
}
.locale_it:hover, .locale_en:hover, .locale_de:hover {
    filter: opacity(50%);
}

.user_icon {
    margin-top: 1.5rem;
}

/****************************************************/
/*footer*/
.footer {
    background-color: rgba(209, 195, 152, 83);

    text-align: center;

    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;

    min-height: 350px; /*padding + img-logo dimension*/
    padding: 20px;
}

.footer_item {
    padding-top: 3rem;
    text-align: inherit;
}

/****************************************************/
/*review*/
.review {
    width: 100%;
    max-width: 800px;

    display: grid;
    grid-template-columns: 1fr 2fr;

    background-color: #e4e2dc;
    border-radius: 30px;

    margin-left: auto;
    margin-right: auto;

    padding: 2rem;
}

.star {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5px;
    place-items: center;
}

/****************************************************/
/*loader*/
.loader {
    background-color: rgba(0, 0, 0, 0.75);
    height: 100vh;
    width: 100%;
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
}
  
  .spinner {
    height: 8px;
    width: 8px;
    border: 4px solid #fff;
    border-top-color: #000;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
  
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}