/****************************************************/
/*general*/

/*form*/
.form {
    background-color: antiquewhite;

    border-radius: 15px;

    width: 500px;
    padding: 2rem;

    margin-left: auto;
    margin-right: auto;

    text-align: center;
}

.link {
    color: #0645AD;
    margin: 0.5rem;
}

.hr_form {
    min-width: 80%;

    margin-top: 2rem;
    margin-bottom: 2rem;
}

/****************************************************/
/*delete-account*/
.blabla {
    width: 100%;
    max-width: 60%;

    margin: 2rem auto 2rem auto ;

    font-size: large;
    font-weight: lighter;
}

/*private area*/
/*admin*/
.date > form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;

    justify-content: space-around;

    align-items: center;
}

.plan {
    margin: 3rem auto 3rem auto;
}

.review {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 3rem;
}


/*user*/
.past_rev, .post_rev {
    border-radius: 30px;

    padding: 2rem 1rem 1rem 1rem;
    margin: 2rem auto 2rem auto;

    width: 100%;
    max-width: 50%;
}

.past_rev > div, .post_rev > div {
    margin: 1rem;
}
 
.post_rev {
    background-color: rgba(209, 195, 152, 45);
}

.past_rev {
    background-color: lightgray;
}

/****************************************************/
/*review*/
.review {
    width: 100%;
    max-width: 800px;

    display: grid;
    grid-template-columns: 1fr 2fr;

    background-color: #e4e2dc;
    border-radius: 30px;

    margin-left: auto;
    margin-right: auto;

    padding: 2rem;
}

.star {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5px;
    place-items: center;
}