/*import font*/
@import url('https://fonts.googleapis.com/css2?family=Arsenal&family=Belleza&display=swap');

/****************************************************/
/*genereal*/
html, body{
  height: 100%;
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  background-color: rgb(246, 245, 241);

  font-family: 'Arsenal', sans-serif !important;

  text-align: center;
}

h2 {
  font-family: 'Belleza', sans-serif !important;

  font-size: xx-large;
}

h3 {
  margin: 0;
  padding:  0;
}

hr {
  min-width: 100%;

  margin: 2rem;

  justify-self: stretch;

  border: 1px solid #ab9881;
}

a {
  color: black;
  text-decoration: none;

  cursor: pointer;
}

ul {
  list-style: none;
}

/****************************************************/
/*antd*/

.ant-btn {
  width: 75% !important; 
  height: 3rem !important;

  border-radius: 30px !important;

  background-color: white !important;
  color: #8B4513 !important;

  font-size: large !important;
  font-weight: bold !important;
}

.ant-btn:hover {
  border-color: #8B4513 !important;
}

.ant-input {
  width: 75% !important;

  min-height: 3rem !important;

  font-size: large !important;
  
  border-radius: 30px !important;
}

.ant-input::placeholder {
  text-align: center;
}

.ant-input-number, .ant-input-password {
  width: 100% !important;
  max-width: 75% !important;
  height: 3rem !important;
  border-radius: 30px !important;
}

.ant-input-number:hover, .ant-input-password:hover, .ant-input:hover {
  border-color: #8B4513 !important;
}

.ant-input-number-input::placeholder {
  text-align: center !important;
  line-height: 3rem !important;
}

/****************************************************/
/*header*/
#flag {
    display: block;
    padding: 5px 10px 5px 10px;
  
    height: 30px;
  
    text-indent: 2000%;
    white-space: nowrap;
    overflow: hidden;
  
    background-image: url('../public/img/flags/it.png');
    background-size: contain;
    background-repeat: no-repeat;
}

/****************************************************/
/*main*/
main {
  background-color: rgb(246, 245, 241);

  position: relative;

  min-height: 80%;

  margin-left: auto;
  margin-right: auto;

  padding: 1rem;

  overflow: auto;
}

.container {
  width: 100%;
  max-width: 70%;

  margin-left: auto;
  margin-right: auto;
  
  padding-top: 5rem;
  padding-bottom: 5rem;
}

section {
  display: flex;
  flex-direction: column;

  min-height: 0;
}

/****************************************************/
/*swagger*/
.example {
  text-align: left;
}
.risponse {
  align-content: center;
}
.response-col_description {
  align-content: start;
  align-content: left;
}
.parameters-col_name, .highlight-code, .model-box {
  text-align: left;
}

p, h4 {
  text-align: left;
}